# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Exclude the venv from commit
.venv

# Ignore everything in the uploads and logs folders
backend/app/uploads/events/*
backend/app/uploads/profiles/*
backend/app/logs/*

# But keep this one file to ensure the folders exists in git
!backend/app/uploads/events/.gitkeep
!backend/app/uploads/profiles/.gitkeep
!backend/app/logs/.gitkeep


# Unit test / coverage reports
.coverage
.pytest_cache/

# Environment variables file
.env

# SQLite development database
dev.db
.devdbrc

# Log files
*.jsonl
*.log