# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Exclude the venv from commit
.venv

# Ignore everything in the uploads and logs folders
app/uploads/events/*
app/uploads/profiles/*
app/logs/*

# But keep this one file to ensure the folders exists in git
!app/uploads/events/.gitkeep
!app/uploads/profiles/.gitkeep
!app/logs/.gitkeep


# Unit test / coverage reports
.coverage
.pytest_cache/

# Environment variables file
.env*

# SQLite development database
dev.db
.devdbrc

# Log files
*.jsonl
*.log